@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;1,100;1,300&display=swap');

body{
    font-family: 'Roboto';
    margin: 0;
    padding: 0;
    background-color: #000000d5;
}

.cabecalho{
    background: rgb(219, 219, 219);
}

input{
    background: transparent;
    width: 200px;
    height: 23px;
    border: 0.5px solid #000000;
    border-radius: 2px;
    align-items: center;
    text-align: center;
    position: absolute;
    left: 800px;
    top: 35px;
}

.meio{
    text-align: center;
}

.lupa{
    left: 805px;
    position: absolute;
    top: 39px;
}

.bag{
    left: 1030px;
    position: absolute;
    top: 32px;
}

.topo{
   position: absolute;
   left: 1575px;
   top: 19px;
   font-size: 13px;
}

.linha{
    position: absolute;
    left: 1680px;
    top: 24px;
}
.entrar{
    left: 1746px;
    position: absolute;
    top: 20px;
    font-size: 13px;
    color: white;
}

.quadrado{
    position: absolute;
    left: 1700px;
    top: 22px;
}

.fotos1{
    position: absolute;
    margin-left: 270px;
    width: 350px;
    display: flex;
    border-radius: 10px;

}

.fotos1 img{
    padding: 10px;
    border-radius: 30px;
}

.fotos2 img{
    border-radius: 20px;
    padding: 10px;
    width: 500px;
}

.fotos2{
    position: absolute;
    margin-left: 430px;
    display: flex;
    padding-top: 215px;
}

.fotos3{
    position: absolute;
    margin-left:310px;
    display: flex;
}

.fotos3 img{
    padding: 30px;
    margin-top: 630px;
    width: 200px;
}

.titulo{
    position: absolute;
    margin-top: 295px;
    font-size: 23px;
    margin-left: 20px;
    color: white;
}

.valor{
    position: absolute;
    margin-top: 325px;
    font-size: 23px;
    margin-left: 20px;
    color: white;
}

.titulo2{
    position: absolute;
    margin-top: 295px;
    font-size: 23px;
    margin-left: 545px;
    color: white;
}

.valor2{
    position: absolute;
    margin-top: 325px;
    font-size: 23px;
    margin-left: 545px;
    color: white;
}

.titulo3{
    margin-top: 600px;
    position: absolute;
    margin-left: 850px;
    font-size: 30px;
    color: white;
}

.prevenda{
    color: white;
    font-family: 'Roboto', Light 300;

}